@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", serif;
  font-weight: 400;
  font-style: normal;
}

/****************Team Page*******************/
.backgroundImage{
  background-image: url(./assets/images/papaioannou-kostas-tysecUm5HJA-unsplash.jpg);
  background-size: cover; /* Resmin tüm alanı kaplamasını sağlar */
  background-position: center; /* Resmi ortalar */
  min-height: 100vh; /* Sayfa boyutunda bir arka plan */
}