@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .after-line {
    position: relative;
  }
  .after-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .after-line:hover::after {
    width: 100%;
    left: 0;
  }
}

/* Quiz */
.test-area {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* background: url('./assets/images/brain-background.jpg') center/cover no-repeat; */
  background-size: cover;
  opacity: 0.2; /* Makes the image less prominent */
}

.test-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adds a white overlay for better text readability */
  z-index: 1;
}

.test-area form {
  position: relative;
  z-index: 2; /* Ensures form elements are above the overlay */
}
